*{
	padding:0px;
	margin:0px;
}

body{
	background-color:gray;
}
/////////////////NAVBAR///////////////

.float-right{
	margin-left:50px!important;
}
.botones_navbar{
	margin:5px;
}
/////////////////NAVBAR///////////////
////////////////FRONTAL//////////////
.card_frontal{
	display:block;
	
}

.d-custom{
	justify-content:center;
	align-items:center;
	height:700px;
  width: 33% 33% 33%;
}
.frontal{
	background-size: cover;
  width: 100%;
  background-image: url("../../images/fondo.gif");
  display: flex;
  align-items: center!important;
  justify-content: center!important;

}
div img{
  width: 200px;
  height: 200px;
}

////////////////FRONTAL//////////////


/////////////RESERVAS//////////////////

.reservas_vehiculos{
    margin-top:3%;
    margin-bottom:3%;
}
.reservas_v_container{
    background-color: gray;
}

.titulo_reservas{
    background-color: gray;
}

.reservas_v_container>div>div>h2{
	color:white;
}

.cards_reserva {
    display:block;
}
/////////////RESERVAS//////////////////

/* Esto se aplica para la vista vAdmin.php */

.encabezado_vAdmin{
	height:100px;
	background-size:contain;
	text-align:center;
}

#paneladmin{
	display:flex;
	justify-content:center;
	max-width:500px;
	flex-direction:column;
	margin:auto;
}
.paneles{
	text-align:center;
}
.paneles table{
	margin:auto;
}
.paneles tr{
	border: 2px solid black;
	text-align:center;
}
.paneles  table  tr  th{
	margin:5px;
	padding:5px;
	color: 272D4F;
font-size:20px;
}
.delete_paneles{
		padding:5px;
	background-color:red;
	color:white;
	border-color:red;
	border-radius:5px;
}
.update_paneles{
		padding:5px;
	background-color:green;
	color:white;
	border-color:green;
	border-radius:5px;
}
.insert_paneles{
	padding:5px;
	background-color:cornblue;
	color:black;
	border-color:cornblue;
	border-radius:5px;
}
.titulo_boton{
	
	display: inline-grid;
	grid-template-columns: 300px 100px;
}
.rellenoAdminVehiculo{
	display:none;
}

.rellenoAdminUsuario{
	display:none;
}

.rellenoAdminReserva{
	display:none;
}

.boton_atras_vAdmin{
	font-size:18px;
	padding:5px;
	background-color:blue;
	color:white;
	border-color:blue;
	border-radius:5px;
}

/* Esto se aplica para la vista vAdmin.php */