*{
	padding:0px;
	margin:0px;
}

body{
	background-color:gray;
}

/* Inicio de clases de vReserva.php */
#form_vAdminInsertV{
    display:grid;
    justify-content: center;
    align-items: center;
}
#elementos_vAdminInsertV{
	background-color: #344FCD;
	padding:20px;
    border:5px solid #1d2c74; 
    display:grid;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    /* grid-template-areas:"Nombre Marca Modelo Potencia Tipo "
    						"fechaInicio fechaFin" 
    						"horaInicio horaFin"
    						
    						
    						
    						*/
}
#elementos_vAdminInsertV > .nombre_vAdminInsertV, .modelo_vAdminInsertV, .potencia_vAdminInsertV, .img_vAdminInsertV, .tipo_vAdminInsertV, #submit_vAdminInsertV{
    background-color:#445BC8 ;
    padding:5px;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-grid;
    align-items: center;
    grid-template-columns: 120px 1fr;
;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
    
}
#elementos_vAdminInsertV>div>input{
    padding:5px;
    border-radius: 5px;
    border: 2px solid #3c3cd7;
    background-color: #70a3e0;
}

#submit_vAdminInsertV{
	height:40px;
	margin-top:5px!important;
	cursor:pointer!important;
	font-size:18px!important;
	padding:5px!important;
	background-color:green!important;
	color:white!important;
	border:2px solid black!important;
	border-radius:5px!important;
}
.boton_atras_vAdminV{
	margin-top:10px;
	cursor:pointer;
	font-size:18px;
	padding:5px;
	background-color:#860e04;
	color:white;
	border:2px solid black;
	border-radius:5px;
}

/* FIN DE INSERTAR VEHICULO DESDE VADMIN CLASES*/


/* Esto se aplica para la vista vReserva.php */